/* 
    Created on : Jun 7, 2015, 1:46:31 PM
    Author     : ArunaTebel
*/
body{
    background-image: url("../img/background.jpg");
}
article{
    width: 80%;
    margin: 0 auto;
}

.form-panel{
    width: 380px;
    max-width: 380px;
    min-width: 380px;
    margin: 0 auto;
    float: left;
}

#user-log-form-panel{
    width: 100%;
    max-width: 100%;
}

.table-panel{
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    margin: 0 auto;
    float: right;
}

#summary-table{
    width: 400px;
    min-width: 400px;
    margin: 0 auto;
    float: none;
}

#add-items-log-table-panel{
    margin: 10px auto;
    width: 49%;
    max-width: 49%;
    float: left;
}

#add-sales-weight-g, #add-sales-weight-mg{
    width: 100px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

#sales-log-table-panel{
    margin: 10px auto;
    width: 49%;
    max-width: 49%;
    float: right;
}

.form-panel-body{
    width: 95%;
    margin: 0 auto;
}

.form-submit-btn{
    float: right;
}

.form-widget{
    width: 100%;
}

#sales-form-panel{
    width: 430px;
    max-width: 430px;
    min-width: 430px;
    margin: 0 auto;
}

#stock-weight-panel-body{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#total-stock-weight-panel{
    width: 650px;
    margin: 0 auto;
}

.clickable-row:hover {
    background-color: #a6e1ec;
    cursor: pointer;
}

#sales_Sell{
    width: 375px;
}

.scrollable-table{
    max-height: 550px;
    overflow-y: auto;
}

