{% extends "::base.html.twig" %}
{% block body %}
    <div class="panel panel-primary table-panel scrollable-table">
        <div class="panel-heading">
            <h3 class="panel-title"> Stock Summary </h3>
        </div>
        <div class="panel-body form-panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th> Category </th>
                        <th> Quantity</th>
                    <tr>
                </thead>
                {% for category_name,quantity in result %}
                    <tr>
                        <td>{{ category_name }}</td>
                        <td>{{ quantity}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}